{
  "host": "https://dev.clippd.com",
  "DEFAULT_USER_EMAIL": "gazal+coach1@clippd.io",
  "DEFAULT_USER_PASSWORD": "Test@@123",
  "WHS_USER_EMAIL": "gazal+edwhs@clippd.io",
  "WHS_USER_PASSWORD": "Test@@123"
}
